/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 1%;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  color: #404040;
}
h1,
h3 {
  font-family: 'Playfair Display', serif;
}
h2,
h4 {
  font-family: 'PT Sans', sans-serif;
}
h5,
p {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  height: 25vh;
  margin-bottom: 5%;
  border-bottom: 2px solid #FDEDEC;
  padding: 3% 0 1% 0;
}
header h1 {
  font-size: 42px;
  text-align: center;
  padding: 2% 0;
  letter-spacing: 4px;
}
header h2 {
  font-size: 15px;
  text-align: center;
  letter-spacing: 4px;
}
header nav {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%;
}
header nav a {
  text-decoration: none;
  color: #404040;
  padding: 2%;
}
header nav a:hover {
  color: #FDEDEC;
  letter-spacing: 7px;
}
.main {
  display: flex;
  width: 100%;
  height: 110vh;
  justify-content: space-between;
}
.main h3 {
  font-size: 17px;
  letter-spacing: 3px;
  padding-bottom: 3%;
}
.main h4 {
  font-size: 14px;
  letter-spacing: 2px;
  padding-bottom: 1%;
  padding-top: 2%;
}
.main h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  padding-bottom: 1%;
}
.main p {
  line-height: 1.5;
  font-size: 14px;
}
.main .left {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-between;
  padding: 4% 2%;
  background-color: #F4F6F6;
}
.main .left h3 {
  padding-bottom: 5%;
}
.main .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 63%;
  background-color: #FDEDEC;
  padding: 4% 2%;
}
@media (max-width: 500px) {
  body {
    width: 90%;
  }
  header {
    height: 100%;
  }
  header h1 {
    font-size: 30px;
  }
  header nav {
    font-size: 13px;
  }
  header nav a {
    padding: 0;
  }
  body .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  body .main .left {
    width: 100%;
    padding: 1%;
    margin: 2% 0;
  }
  body .main .left h3 {
    padding-bottom: 3%;
  }
  body .main .right {
    width: 100%;
    padding: 1%;
    margin: 2% 0;
  }
  body .main .right h3 {
    padding-bottom: 3%;
  }
  body .main .right h4 {
    padding-top: 0;
  }
  body .main .box {
    margin: 10% 1%;
  }
}
